.header {
background-color: #80808080;
border: 2px black solid;
margin: auto;
height: 35px;
}
.logo{
    color: #000000;
    font-size: 23px;
    margin-left: 80px;
}
.navbar{
 display: inline-block;
 margin-left: 300px;
}
.nav1{
    border: 1.5px black solid;
    background-color: #0000ff;
    color: #ffffff;
}
.nav2{
 margin-left: 30px;
 background-color: #ffffff;
}
.nav3{
    margin-left: 30px;
    background-color: #ffffff;
   }
.button{
    display: inline-block;
    margin-left: 470px;
}
.container{
    width: 1345px;
    height: 820px;
    margin: auto;
    border: 2px black solid;
    background-color: #808080;
}
.main{
    height: 270px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border: 2px black solid;
    background-color: white;
}
.head{
    font-size: 45px;
    text-align: center;
    margin-top: 40px;
}
.paragraph{
    text-align: center;
    margin-top: 20px;
}
.content{
    width: 80%;
    height: 480px;
    margin: auto;
    border: 2px black solid;
    margin-top: 20px;
    background-color: white;
}
.part1{
    width: 79%;
    height: 100%;
    border-right: 2px black solid;
    display: inline-block;
}
.part2{
    width: 19%;
    height: 100%;
    display: inline-block;
}
.head1{
    font-size: 30px;
    width: 80%;
}
.tools{
    margin-top: 20px;
}
.tool1{
 width: 45%;
 height: 49%;  
 display: inline-block; 
 margin-left: 20px;
}
.tool2{
    width: 45%;
    height: 49%;
    display: inline-block;   
}
.tool3{
    width: 45%;
    height: 49%;  
    display: inline-block; 
    margin-left: 20px;
   }
.tool4{
    width: 45%;
    height: 49%;
    display: inline-block;   
}
.head2{
font-size: 20px;
margin-top: 10px;
}
.img{
    width: 30%;
    display: inline-block;
}
.topic{
    width: 60%;
    margin-top: 30px;
    display: inline-block;
}
.para{
    margin-top: 10px;
}
.heading{
    font-size: 18px;
    border: 1.5px black solid;
    margin-left: 50px;
    margin-top: 10px;
    background-color: #80808038;
    
}
.head3{
    font-size: 22px;
    position: relative;
    left: 30px;
}
.future_event{
    position: relative;
    top: -140px;
}
.pre{
    position: relative;
    left: -80px;
}
.past_event{
    position: relative;
    top: -20px;
}
.select{
    width: 60%;
    border: 2px black solid;
}
.details{
    margin-top: 50px;
    text-align: center;
}
.about1{
    margin-left: 30px;
    display: inline-block;
}
.about2{
    margin-left: 60px;
    display: inline-block;
}
.about3{
    margin-left: 100px;
    display: inline-block;
}
.about4{
    margin-left: 150px;
    display: inline-block;
}
.footer{
    margin-top: 150px;
    border: 2px black solid;
}
.button1{
    display: inline-block;
   margin-left: 720px;
   background-color: gray;
   padding: 10px;
   border-radius: 50%;
}
.link1{
    margin-left: 50px;
}
.link2{
    margin-left: 50px;
}
.link3{
    margin-left: 50px;
}
.head5{
    font-size: 22px;
    position: relative;
    left: 10px;
}
  
   
